.wrapper{
    width: 420px;
    background: rgb(60, 155, 101) ;
    color: #fff;
    /* padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15); */

}

.wrapper h1 {
    font-size: 35px;
    text-align: center;
}

.wrapper .input-box {
    margin: 20px 0 12px 0;
    position: relative;
    width: 100%;
    height: 50px;
    background: saddlebrown;
}

.input-box input {
    
}